<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="{{ url_for('index') }}" class="logo">
              <img
                src="{{ url_for('static', filename='/img/kaiadmin/logo_light.svg') }}"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              
              <li class="nav-item active">
                <a href="{{ url_for('index') }}">
                  <i class="fas fa-traffic-light"></i>
                  <p>Dashboard</p>
                </a>

              </li>
              <li class="nav-item active">
                <a href="{{ url_for('estadisticas') }}">
                  <i class="fas fa-chart-line"></i>
                  <p>Estadisticas</p>
                </a>
              </li>
              
              <li class="nav-item active">
                <a href="{{ url_for('monitoreo') }}">
                  <i class="fas fa-tasks"></i>
                  <p>Monitoreo</p>
                </a>
              </li>

              {% if session['tipo_usuario'] == 'administrador' %}

              <li class="nav-item active">
                <a href="{{ url_for('usuarios') }}">
                  <i class="fas fa-user-cog"></i>
                  <p>Control de usuarios</p>
                </a>
              </li>
              {% endif %}
              {% if session['tipo_usuario'] == 'administrador' %}
              <li class="nav-item active">
                <a href="{{ url_for('dispositivos') }}">
                  <i class="fas fa-play"></i>
                  <p>Programacion de dispositivos</p>
                </a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a href="https://github.com/OmarUTEC/SmartTraffic-Cloud/tree/main">
                  <i class="icon-folder-alt"></i>
                  <p>Documentation</p>
                  <span class="badge badge-secondary">1</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
